{% extends 'base.html' %}
  <title>
    {% block title %}
      {{ title }}
    {% endblock title %}
  </title>
  </head>
  <body>
    <main>
      {% block content %}
      <div class="container py-5">
        {% for post in posts %}
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>      
          <p>{{ post.text }}</p>         
        {% endfor %}
          <!-- под последним постом нет линии -->
      </div>
      {% endblock  %}  
    </main>
    <!-- Использованы классы бустрапа: -->
    <!-- border-top: создаёт тонкую линию сверху блока -->
    <!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
    <!-- py-3: контент внутри размещается с отступом сверху и снизу -->         

  </body>